body {
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  align-items: center;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 300px;
  height: 350px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 107%;
  padding: 10px;
  background: #4facfe;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background: #00c6fb;
}

.login-container .extra {
  text-align: center;
  margin-top: 15px;
}

.login-container .extra a {
  color: #4facfe;
  text-decoration: none;
}