@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: black;
    color: white;
    font-family: "Press Start 2P", monospace;
    text-align: center;
    padding-top: 50px;
}

.container {
    width: 380px;
    margin: auto;
    padding: 20px;
    border: 3px solid white;
    background: #111;
    box-shadow: 0 0 20px white;
}

.title {
    margin-bottom: 30px;
    text-shadow: 0 0 10px white;
}

form label {
    display: block;
    text-align: left;
    margin: 15px 0 5px;
    font-size: 12px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    background: black;
    color: white;
    font-family: "Press Start 2P";
    font-size: 12px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    background: black;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    font-family: "Press Start 2P";
    transition: 0.2s;
}

button:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.mensagem {
    margin-top: 20px;
    font-size: 12px;
    min-height: 20px;
}
