body {
    margin: 0;
    background: black;
    color: white;
    font-family: 'VT323';
    overflow: hidden;
}

/* Fade Undertale */
#fade {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: black;
    animation: fadeIn 2s forwards;
    z-index: 999;
}
@keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; display: none; }
}

/* Coração Undertale pulsante */
#heart {
    width: 16px;
    height: 16px;
    background: red;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
    clip-path: polygon(
        50% 80%,
        100% 30%,
        80% 0%,
        50% 20%,
        20% 0%,
        0% 30%
    );
}

/* Canvas das partículas */
#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: transparent;
}

.container {
    text-align: center;
    width: 350px;
    margin: auto;
    margin-top: 200px;
}

.sans {
    width: 200px;
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
    text-shadow: 0 0 10px white;
}

.typing {
    font-size: 22px;
    white-space: nowrap;
    border-right: 2px solid white;
    overflow: hidden;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    background: black;
    color: white;
    border: 2px solid white;
    font-size: 20px;
}

input:focus {
    border-color: yellow;
    box-shadow: 0 0 15px yellow;
}

button {
    width: 100%;
    padding: 12px;
    background: black;
    border: 2px solid white;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: black;
}

/* Tremor */
.shake {
    animation: shakeAnim 0.2s linear;
}
@keyframes shakeAnim {
    0% { transform: translate(2px, 2px); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(0,0); }
}

.signup {
  margin-top: 20px;
  font-size: 14px;
  text-align: center; /* centraliza o texto horizontalmente */
}
.signup a {
  color: #007bff;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}